body {
  background-color: #EEEEEE;
}

hr {
  background-color: #001D6E;
  border-style: none;
  height: 3px
}
h1{
  color:#9B3675;
}
h2{
  color: #EB5353;
}
h3{
  color: #0E185F;
}
